{% extends 'mailings/base.html' %}
<title>{% block title %}Список получателей{% endblock %}</title>
{% block content %}
{% if user.is_authenticated and not "users.can_block_user" in perms and not "mailings.can_cancel_mailing" in perms %}
<a class="btn btn-primary" href="{% url 'mailings:mailingrecipient_create' %}">Создать нового получателя</a>
{% endif %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in object_list %}

    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Получатель № {{ object.pk }}</h5>
                <p class="card-text"> {{ object.email }}</p>
                <a href="{% url 'mailings:mailingrecipient_detail' object.pk %}" class="card-link">Данные получателя</a>
                <a href="{% url 'mailings:main' %}" class="card-link">На главную</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
