{% extends 'mailings/base.html' %}
<title>{% block title %}Данные получателя{% endblock %}</title>
{% block content %}
    <div class="col-md-6 p-4 ps-md-0">
        <p>Email получателя: {{object.email}}</p>
        <p>ФИО получателя: {{object.personal_details}}</p>
        <p>Комментарий: {{object.commentary}}</p>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:mailingrecipient_list' %}">Вернуться к списку получателей</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:mailingrecipient_update' object.pk %}">Редактировать</a>
        <a class="p-2 btn btn-outline-danger" href="{% url 'mailings:mailingrecipient_delete' object.pk %}">Удалить</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:mailingrecipient_main' %}">На главную</a>

    </div>
{% endblock %}
