{% extends 'mailings/base.html' %}
<title>{% block title %}Главная{% endblock %}</title>
{% block content %}
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Добро пожаловать в сервис рассылки сообщений!</h5>
    </div>
</div>
{% if user.is_authenticated %}
{% if not "mailings.can_cancel_mailing" in perms and not "users.can_block_user" in perms %}
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Количество всех рассылок</div>
        </div>
        <span class="badge text-bg-primary rounded-pill">{{total_mailings}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Количество активных рассылок</div>
        </div>
        <span class="badge text-bg-primary rounded-pill">{{total_active_mailings}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Количество уникальных получателей</div>
        </div>
        <span class="badge text-bg-primary rounded-pill">{{total_recipients}}</span>
    </li>
</ol>
{% else %}
<h1> Вы менеджер.</h1>
{% endif %}
{% endif %}
{% endblock %}


